{% extends 'base.html' %}

{% block paginas %}


{% for pagina in object_list %}
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>{{ pagina.titulo }}</h3>
                <p>{{ pagina.cuerpo|safe|slice:":100" }}</p>
                <p><a href="{% url 'pagina-detail' pagina.slug %}" class="btn btn-default">Ver</a></p>
            </div>
        </div>
    </div>
    
    
{% empty %}
    <h3>No hay página aún para mostrar.</h3>
{% endfor %}


{% endblock %}